#masthead {
    text-align: center;
}

#colophon {
    height: 5vh;

    text-align: center;

    color: antiquewhite;
    background-color: dimgrey;
}

.events {
    background-color: #1e1e1e;
    color: antiquewhite;

    padding: 0 2em;
}

.events .posts-navigation {
    margin: 0 !important;
}

.events a {
    color: yellowgreen;
}

.events a:hover {
    color: forestgreen;
}
